openapi: 3.1.0
info:
  contact: {}
  title: Binance smart chain (BSC)
  version: 3.9.4
  x-logo:
    url: 'https://tatum.io/images/logo.svg'
    altText: Tatum
  description: |-
    <p>Binance Smart Chain (BSC) is an Ethereum EVM 100% compatible blockchain, and is very good for decentralized application (Dapp) development within many possible verticals including DeFi, NFT, Gaming, and many others.<br/>
    Tatum supports 2 chains:
    <ul><li>Mainnet - a regular live chain
    <li> Testnet - a chain used for testing purposes. Coins on the test chain have no value and can be obtained from
    a faucet, e.g. <a target="_blank" href="https://testnet.binance.org/faucet-smart/">https://testnet.binance.org/faucet-smart</a></li></ul></p>
servers:
  - url: 'https://api-eu1.tatum.io'
  - url: 'https://api-us-west1.tatum.io'
tags:
  - description: ''
    name: Account
  - description: ''
    name: Block
  - description: ''
    name: Transaction
  - description: ''
    name: Utilities
paths:
  /v3/bsc/wallet:
    get:
      description: |
        <h4>1 credit per API call.</h4><br/><p>Tatum supports BIP44 HD wallets. It is very convenient and secure, since it can generate 2^31 addresses from 1 mnemonic phrase. Mnemonic phrase consists of 24 special words in defined order and can restore access to all generated addresses and private keys.<br/>Each address is identified by 3 main values:<ul><li>Private Key - your secret value, which should never be revealed</li><li>Public Key - public address to be published</li><li>Derivation index - index of generated address</li></ul></p><p>Tatum follows BIP44 specification and generates for BSC wallet with derivation path m'/44'/60'/0'/0. More about BIP44 HD wallets can be found here - <a target="_blank" href="https://github.com/bitcoin/bips/blob/master/bip-0044.mediawiki">https://github.com/bitcoin/bips/blob/master/bip-0044.mediawiki</a>.
        Generate BIP44 compatible BSC wallet.</p>
      operationId: BscGenerateWallet
      summary: Generate BSC wallet
      tags:
        - Account
      parameters:
        - description: Mnemonic to use for generation of extended public and private keys.
          in: query
          name: mnemonic
          required: false
          schema:
            type: string
            maxLength: 500
        - description: For connection without API key. To differentiate between testnet and mainnet, please supply a ?type=testnet|mainnet query parameter with your calls
          in: query
          name: type
          required: false
          schema:
            type: string
            example: testnet
            default: mainnet
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Wallet'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
          description: Bad Request. Validation failed for the given object in the HTTP Body or Request parameters.
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Error401NotActive'
                  - $ref: '#/components/schemas/Error401Invalid'
          description: Unauthorized. Not valid or inactive subscription key present in the HTTP Header.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
          description: Internal server error. There was an error on the server during the processing of the request.
      security:
        - X-Api-Key: []
  '/v3/bsc/address/{xpub}/{index}':
    get:
      description: |
        <h4>1 credit per API call.</h4><br/>
        <p>Generate BSC account deposit address from Extended public key. Deposit address is generated for the specific index - each extended public key can generate
        up to 2^31 addresses starting from index 0 until 2^31.</p>
      operationId: BscGenerateAddress
      summary: Generate BSC account address from Extended public key
      tags:
        - Account
      parameters:
        - description: Extended public key of wallet.
          in: path
          name: xpub
          required: true
          schema:
            type: string
            example: xpub6EsCk1uU6cJzqvP9CdsTiJwT2rF748YkPnhv5Qo8q44DG7nn2vbyt48YRsNSUYS44jFCW9gwvD9kLQu9AuqXpTpM1c5hgg9PsuBLdeNncid
        - description: Derivation index of desired address to be generated.
          in: path
          name: index
          required: true
          schema:
            type: number
            example: 0
        - description: For connection without API key. To differentiate between testnet and mainnet, please supply a ?type=testnet|mainnet query parameter with your calls
          in: query
          name: type
          required: false
          schema:
            type: string
            example: testnet
            default: mainnet
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  address:
                    type: string
                    description: BSC address
                    example: '0xa7673161CbfE0116A4De9E341f8465940c2211d4'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
          description: Bad Request. Validation failed for the given object in the HTTP Body or Request parameters.
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Error401NotActive'
                  - $ref: '#/components/schemas/Error401Invalid'
          description: Unauthorized. Not valid or inactive subscription key present in the HTTP Header.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
          description: Internal server error. There was an error on the server during the processing of the request.
      security:
        - X-Api-Key: []
  /v3/bsc/wallet/priv:
    post:
      description: |
        <h4>1 credit per API call.</h4><br/>
        <p>Generate private key of address from mnemonic for given derivation path index. Private key is generated for the specific index - each mnemonic
        can generate up to 2^31 private keys starting from index 0 until 2^31.</p>
      operationId: BscGenerateAddressPrivateKey
      summary: Generate BSC private key
      tags:
        - Account
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivKeyRequest'
        required: true
      parameters:
        - description: For connection without API key. To differentiate between testnet and mainnet, please supply a ?type=testnet|mainnet query parameter with your calls
          in: query
          name: type
          required: false
          schema:
            type: string
            example: testnet
            default: mainnet
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivKey'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
          description: Bad Request. Validation failed for the given object in the HTTP Body or Request parameters.
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Error401NotActive'
                  - $ref: '#/components/schemas/Error401Invalid'
          description: Unauthorized. Not valid or inactive subscription key present in the HTTP Header.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
          description: Internal server error. There was an error on the server during the processing of the request.
      security:
        - X-Api-Key: []
  '/v3/bsc/web3/{xApiKey}':
    post:
      description: |
        <h4>2 credits per API call.</h4><br/>
        <p>Use this endpoint URL as a http-based web3 driver to connect directly to the BSC node provided by Tatum.
        To learn more about BSC Web3, please visit <a href="https://bsc.org/en/developers/" target="_blank">BSC developer's guide.</a></p>
      operationId: BscWeb3Driver
      parameters:
        - description: Tatum X-API-Key used for authorization.
          in: path
          name: xApiKey
          required: true
          schema:
            type: string
            example: asdlkfjnqunalkwjfnq2oi303294857k
        - description: For connection without API key. To differentiate between testnet and mainnet, please supply a ?type=testnet|mainnet query parameter with your calls
          in: query
          name: type
          required: false
          schema:
            type: string
            example: testnet
            default: mainnet
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Any valid Web3 method content body.
              example:
                jsonrpc: '2.0'
                method: web3_clientVersion
                params: []
                id: 2
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                description: Any valid Web3 response.
                example:
                  jsonrpc: '2.0'
                  id: 2
                  result: Geth/v1.9.9-omnibus-e320ae4c-20191206/linux-amd64/go1.13.4
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
          description: Bad Request. Validation failed for the given object in the HTTP Body or Request parameters.
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Error401NotActive'
                  - $ref: '#/components/schemas/Error401Invalid'
          description: Unauthorized. Not valid or inactive subscription key present in the HTTP Header.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
          description: Internal server error. There was an error on the server during the processing of the request.
      summary: BSC RPC node
      tags:
        - Utilities
  /v3/bsc/block/current:
    get:
      description: <h4>1 credit per API call.</h4><br/><p>Get BSC current block number. This is the number of the latest block in the blockchain.</p>
      operationId: BscGetCurrentBlock
      summary: Get current BSC block number
      tags:
        - Block
      parameters:
        - description: For connection without API key. To differentiate between testnet and mainnet, please supply a ?type=testnet|mainnet query parameter with your calls
          in: query
          name: type
          required: false
          schema:
            type: string
            example: testnet
            default: mainnet
      responses:
        '200':
          content:
            application/json:
              schema:
                type: number
                description: Current block number
                example: 6491272
          description: OK
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Error401NotActive'
                  - $ref: '#/components/schemas/Error401Invalid'
          description: Unauthorized. Not valid or inactive subscription key present in the HTTP Header.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
          description: Internal server error. There was an error on the server during the processing of the request.
      security:
        - X-Api-Key: []
  '/v3/bsc/block/{hash}':
    get:
      description: <h4>1 credit per API call.</h4><br/><p>Get BSC block by block hash or block number.</p>
      operationId: BscGetBlock
      summary: Get BSC block by hash
      tags:
        - Block
      parameters:
        - description: Block hash or block number
          in: path
          name: hash
          required: true
          schema:
            type: string
            example: '6470657'
        - description: For connection without API key. To differentiate between testnet and mainnet, please supply a ?type=testnet|mainnet query parameter with your calls
          in: query
          name: type
          required: false
          schema:
            type: string
            example: testnet
            default: mainnet
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EthBlock'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
          description: Bad Request. Validation failed for the given object in the HTTP Body or Request parameters.
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Error401NotActive'
                  - $ref: '#/components/schemas/Error401Invalid'
          description: Unauthorized. Not valid or inactive subscription key present in the HTTP Header.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
          description: Internal server error. There was an error on the server during the processing of the request.
      security:
        - X-Api-Key: []
  '/v3/bsc/account/balance/{address}':
    get:
      description: <h4>1 credit per API call.</h4><br/><p>Get BSC account balance in BNB. This method does not prints any balance of the BEP20 or BEP721 tokens on the account.</p>
      operationId: BscGetBalance
      summary: Get BSC Account balance
      tags:
        - Account
      parameters:
        - description: Account address
          in: path
          name: address
          required: true
          schema:
            type: string
            example: '0x3223AEB8404C7525FcAA6C512f91e287AE9FfE7B'
        - description: For connection without API key. To differentiate between testnet and mainnet, please supply a ?type=testnet|mainnet query parameter with your calls
          in: query
          name: type
          required: false
          schema:
            type: string
            example: testnet
            default: mainnet
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  balance:
                    type: string
                    description: Balance in BNB
                    example: '10.52'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
          description: Bad Request. Validation failed for the given object in the HTTP Body or Request parameters.
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Error401NotActive'
                  - $ref: '#/components/schemas/Error401Invalid'
          description: Unauthorized. Not valid or inactive subscription key present in the HTTP Header.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
          description: Internal server error. There was an error on the server during the processing of the request.
      security:
        - X-Api-Key: []
  '/v3/bsc/transaction/{hash}':
    get:
      description: <h4>2 credit per API call.</h4><br/><p>Get BSC transaction by transaction hash.</p>
      operationId: BscGetTransaction
      summary: Get BSC Transaction
      tags:
        - Transaction
      parameters:
        - description: Transaction hash
          in: path
          name: hash
          required: true
          schema:
            type: string
            example: '0xe6e7340394958674cdf8606936d292f565e4ecc476aaa8b258ec8a141f7c75d7'
        - description: For connection without API key. To differentiate between testnet and mainnet, please supply a ?type=testnet|mainnet query parameter with your calls
          in: query
          name: type
          required: false
          schema:
            type: string
            example: testnet
            default: mainnet
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BscTx'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
          description: Bad Request. Validation failed for the given object in the HTTP Body or Request parameters.
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Error401NotActive'
                  - $ref: '#/components/schemas/Error401Invalid'
          description: Unauthorized. Not valid or inactive subscription key present in the HTTP Header.
        '403':
          description: 'Forbidden. The request is authenticated, but it is not possible to required perform operation due to logical error or invalid permissions.'
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Error403TxNotFound'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
          description: Internal server error. There was an error on the server during the processing of the request.
      security:
        - X-Api-Key: []
  '/v3/bsc/transaction/count/{address}':
    get:
      description: |
        <h4>1 credit per API call.</h4><br/>
        <p>Get a number of outgoing BSC transactions for the address. When a transaction is sent, there can be multiple outgoing transactions,
        which are not yet processed by the blockchain. To distinguish between them, there is a counter called a nonce, which represents
        the order of the transaction in the list of outgoing transactions.</p>
      operationId: BscGetTransactionCount
      parameters:
        - description: address
          in: path
          name: address
          required: true
          schema:
            type: string
            maxLength: 42
            minLength: 42
            example: '0xdac17f958d2ee523a2206206994597c13d831ec7'
        - description: For connection without API key. To differentiate between testnet and mainnet, please supply a ?type=testnet|mainnet query parameter with your calls
          in: query
          name: type
          required: false
          schema:
            type: string
            example: testnet
            default: mainnet
      responses:
        '200':
          content:
            application/json:
              schema:
                type: number
                example: 5
                description: 'Number of transactions, that were made from this address. Can be used as a nonce parameter in send transaction calls.'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
          description: Bad Request. Validation failed for the given object in the HTTP Body or Request parameters.
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Error401NotActive'
                  - $ref: '#/components/schemas/Error401Invalid'
          description: Unauthorized. Not valid or inactive subscription key present in the HTTP Header.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
          description: Internal server error. There was an error on the server during the processing of the request.
      security:
        - X-Api-Key: []
      summary: Get count of outgoing BSC transactions
      tags:
        - Transaction
  /v3/bsc/transaction:
    post:
      description: |
        <h4>2 credits per API call.</h4><br/>
        <p>Send BNB or Tatum supported BEP20 token from account to account.<br/><br/>
        This operation needs the <strong>private key</strong> of the blockchain address.
        <strong>Warning:</strong> Do not expose private keys to the internet because there is a strong possibility of stealing keys and loss of funds. 
        </br>
        </br>
        In this method, it is possible to enter privateKey
        or signatureId. PrivateKey should be used only for quick development on testnet versions of blockchain when there is no risk of losing funds. In production,
        <a href="https://github.com/tatumio/tatum-kms" target="_blank">Tatum KMS</a> should be used for the highest security standards, and signatureId should be present in the request.
        Alternatively, using the Tatum client library for supported languages or Tatum Middleware with a custom key management system is possible.
        </p>
        </p>
      operationId: BscBlockchainTransfer
      summary: Send BSC / BEP20 from account to account
      tags:
        - Transaction
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/TransferBscBlockchain'
                - $ref: '#/components/schemas/TransferBscBlockchainKMS'
        required: true
      parameters:
        - description: For connection without API key. To differentiate between testnet and mainnet, please supply a ?type=testnet|mainnet query parameter with your calls
          in: query
          name: type
          required: false
          schema:
            type: string
            example: testnet
            default: mainnet
      responses:
        '200':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/TransactionHashKMS'
                  - $ref: '#/components/schemas/SignatureId'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
          description: Bad Request. Validation failed for the given object in the HTTP Body or Request parameters.
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Error401NotActive'
                  - $ref: '#/components/schemas/Error401Invalid'
          description: Unauthorized. Not valid or inactive subscription key present in the HTTP Header.
        '403':
          description: 'Forbidden. The request is authenticated, but it is not possible to required perform operation due to logical error or invalid permissions.'
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Error403BscBroadcast'
                  - $ref: '#/components/schemas/Error403BscGasPrice'
                  - $ref: '#/components/schemas/Error403BscTxBody'
                  - $ref: '#/components/schemas/Error403BscGasCalculation'
                  - $ref: '#/components/schemas/Error403BscTxHash'
                  - $ref: '#/components/schemas/Error403BscTxSign'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
          description: Internal server error. There was an error on the server during the processing of the request.
      security:
        - X-Api-Key: []
  /v3/bsc/gas:
    post:
      description: |
        <h4>2 credits per API call.</h4><br/>
        <p>Estimate gasLimit and gasPrice of the BSC transaction. Gas price is obtained from <a href="https://explorer.bitquery.io/bsc/gas" target="_blank">https://explorer.bitquery.io/bsc/gas</a>.
        </p>
      operationId: BscEstimateGas
      summary: Estimate BSC transaction fees
      tags:
        - Transaction
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BscEstimateGas'
        required: true
      parameters:  
        - description: For connection without API key. To differentiate between testnet and mainnet, please supply a ?type=testnet|mainnet query parameter with your calls
          in: query
          name: type
          required: false
          schema:
            type: string
            example: testnet
            default: mainnet
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required:
                  - gasLimit
                  - gasPrice
                properties:
                  gasLimit:
                    type: string
                    description: Gas limit for transaction in gas price.
                    example: '40000'
                  gasPrice:
                    type: string
                    description: Gas price in wei.
                    example: '20'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
          description: Bad Request. Validation failed for the given object in the HTTP Body or Request parameters.
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Error401NotActive'
                  - $ref: '#/components/schemas/Error401Invalid'
          description: Unauthorized. Not valid or inactive subscription key present in the HTTP Header.
        '403':
          description: 'Forbidden. The request is authenticated, but it is not possible to required perform operation due to logical error or invalid permissions.'
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Error403BscTxBody'
                  - $ref: '#/components/schemas/Error403BscGasCalculation'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
          description: Internal server error. There was an error on the server during the processing of the request.
      security:
        - X-Api-Key: []
  /v3/bsc/smartcontract:
    post:
      description: |
        <h4>2 credits per API call.</h4><br/>
        <p>Invoke any method on an existing Smart Contract. It is possible to call read or write method on the Smart Contract defined via contractAddress.
        For read operations, data is returned, for write operations, transaction Id of the associated transaction is returned.<br/>
        This operation needs the private key of the blockchain address. Every time the funds are transferred, the transaction must be signed with the corresponding private key.
        No one should ever send it's own private keys to the internet because there is a strong possibility of stealing keys and loss of funds. In this method, it is possible to enter privateKey
        or signatureId. PrivateKey should be used only for quick development on testnet versions of blockchain when there is no risk of losing funds. In production,
        <a href="https://github.com/tatumio/tatum-kms" target="_blank">Tatum KMS</a> should be used for the highest security standards, and signatureId should be present in the request.
        Alternatively, using the Tatum client library for supported languages or Tatum Middleware with a custom key management system is possible.</p>
      operationId: BscBlockchainSmartContractInvocation
      summary: Invoke BSC Smart Contract method
      tags:
        - Utilities
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/CallBscSmartContractReadMethod'
                - $ref: '#/components/schemas/CallBscSmartContractMethod'
                - $ref: '#/components/schemas/CallBscSmartContractMethodKMS'
        required: true
      parameters:
        - description: For connection without API key. To differentiate between testnet and mainnet, please supply a ?type=testnet|mainnet query parameter with your calls
          in: query
          name: type
          required: false
          schema:
            type: string
            example: testnet
            default: mainnet
      responses:
        '200':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/TransactionHashKMS'
                  - $ref: '#/components/schemas/SignatureId'
                  - $ref: '#/components/schemas/Data'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
          description: Bad Request. Validation failed for the given object in the HTTP Body or Request parameters.
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Error401NotActive'
                  - $ref: '#/components/schemas/Error401Invalid'
          description: Unauthorized. Not valid or inactive subscription key present in the HTTP Header.
        '403':
          description: 'Forbidden. The request is authenticated, but it is not possible to required perform operation due to logical error or invalid permissions.'
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Error403BscBroadcast'
                  - $ref: '#/components/schemas/Error403BscGasPrice'
                  - $ref: '#/components/schemas/Error403BscScBody'
                  - $ref: '#/components/schemas/Error403BscGasCalculation'
                  - $ref: '#/components/schemas/Error403BscTxHash'
                  - $ref: '#/components/schemas/Error403BscTxSign'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
          description: Internal server error. There was an error on the server during the processing of the request.
      security:
        - X-Api-Key: []
  /v3/bsc/broadcast:
    post:
      description: |
        <h4>2 credits per API call.</h4><br/>
        <p>Broadcast signed transaction to BSC blockchain. This method is used internally from Tatum KMS or Tatum client libraries.
        It is possible to create custom signing mechanism and use this method only for broadcasting data to the blockchian.</p>
      operationId: BscBroadcast
      summary: Broadcast signed BSC transaction
      tags:
        - Transaction
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BroadcastKMS'
        required: true
      parameters:  
        - description: For connection without API key. To differentiate between testnet and mainnet, please supply a ?type=testnet|mainnet query parameter with your calls
          in: query
          name: type
          required: false
          schema:
            type: string
            example: testnet
            default: mainnet
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionHashKMS'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
          description: Bad Request. Validation failed for the given object in the HTTP Body or Request parameters.
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Error401NotActive'
                  - $ref: '#/components/schemas/Error401Invalid'
          description: Unauthorized. Not valid or inactive subscription key present in the HTTP Header.
        '403':
          description: 'Forbidden. The request is authenticated, but it is not possible to required perform operation due to logical error or invalid permissions.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403BscBroadcast'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
          description: Internal server error. There was an error on the server during the processing of the request.
      security:
        - X-Api-Key: []
components:
  schemas:
    BroadcastKMS:
      properties:
        txData:
          description: Raw signed transaction to be published to network.
          example: 62BD544D1B9031EFC330A3E855CC3A0D51CA5131455C1AB3BCAC6D243F65460D
          maxLength: 500000
          minLength: 1
          type: string
        signatureId:
          description: 'ID of prepared payment template to sign. Required only, when broadcasting transaction signed by Tatum KMS.'
          format: uuid
          example: 1f7f7c0c-3906-4aa1-9dfe-4b67c43918f6
          type: string
          minLength: 36
          maxLength: 36
      required:
        - txData
      type: object
    BscTx:
      type: object
      properties:
        blockHash:
          description: Hash of the block where this transaction was in.
          type: string
          example: '0xcf2c40f475e78c7c19778e1ae999a0e371c9319b38182ea15dc94536f13f9137'
        status:
          type: boolean
          example: true
          description: 'TRUE if the transaction was successful, FALSE, if the EVM reverted the transaction.'
        blockNumber:
          type: number
          description: Block number where this transaction was in.
          example: 6470854
        from:
          type: string
          description: Address of the sender.
          example: '0x81b7E08F65Bdf5648606c89998A9CC8164397647'
        gas:
          type: number
          description: Gas provided by the sender.
          example: 21000
        gasPrice:
          type: string
          description: Gas price provided by the sender in wei.
          example: '1000000000'
        transactionHash:
          type: string
          description: Hash of the transaction.
          example: '0xe6e7340394958674cdf8606936d292f565e4ecc476aaa8b258ec8a141f7c75d7'
        input:
          type: string
          description: The data sent along with the transaction.
          example: 0x
        nonce:
          type: number
          description: The number of transactions made by the sender prior to this one.
          example: 26836405
        to:
          type: string
          description: Address of the receiver. 'null' when its a contract creation transaction.
          example: '0xbC546fa1716Ed886967cf73f40e8F2F5e623a92d'
        transactionIndex:
          type: number
          description: Integer of the transactions index position in the block.
          example: 3
        value:
          type: string
          description: Value transferred in wei.
          example: '1000000000000000000'
        gasUsed:
          type: number
          description: The amount of gas used by this specific transaction alone.
          example: 21000
        cumulativeGasUsed:
          type: number
          description: The total amount of gas used when this transaction was executed in the block.
          example: 314159
        contractAddress:
          type: string
          description: 'The contract address created, if the transaction was a contract creation, otherwise null.'
          example: '0x81b7E08F65Bdf5648606c89998A9CC8164397647'
        logs:
          type: array
          description: 'Log events, that happened in this transaction.'
          items:
            type: object
            properties:
              address:
                type: string
                description: From which this event originated from.
                example: '0x81b7E08F65Bdf5648606c89998A9CC8164397647'
              topics:
                type: array
                description: 'An array with max 4 32 Byte topics, topic 1-3 contains indexed parameters of the log.'
                items:
                  type: string
                  example: '0x033456732123ffff2342342dd12342434324234234fd234fd23fd4f23d4234'
              data:
                type: string
                description: The data containing non-indexed log parameter.
              logIndex:
                type: number
                description: Integer of the event index position in the block.
              blockNumber:
                type: number
                description: Block number where this transaction was in.
                example: 6470854
              blockHash:
                description: Hash of the block.
                type: string
                example: '0x5d40698ee1b1ec589035f2a39c6162287e9056868cc79d66cfb248ba9f66c3fc'
              transactionIndex:
                type: number
                description: 'Integer of the transaction’s index position, the event was created in.'
              transactionHash:
                type: string
                description: Hash of the transaction this event was created in.
                example: '0xe6e7340394958674cdf8606936d292f565e4ecc476aaa8b258ec8a141f7c75d7'
    CallBscSmartContractMethod:
      type: object
      title: PrivateKey
      properties:
        contractAddress:
          maxLength: 42
          minLength: 42
          description: Address of BEP20 token
          example: '0x687422eEA2cB73B5d3e242bA5456b782919AFc85'
          type: string
        methodName:
          minLength: 1
          maxLength: 500
          description: Name of the method to invoke on smart contract.
          type: string
          example: transfer
        methodABI:
          type: object
          example:
            inputs:
              - internalType: uint256
                name: amount
                type: uint256
            name: stake
            outputs: []
            stateMutability: nonpayable
            type: function
          description: ABI of the method to invoke.
        params:
          type: array
          items:
            type: object
            description: Parameters of the method to be invoked
        amount:
          description: Amount of the assets to be sent.
          example: '100000'
          pattern: '^[+]?((\d+(\.\d*)?)|(\.\d+))$'
          type: string
        fromPrivateKey:
          type: string
          maxLength: 66
          example: '0x05e150c73f1920ec14caa1e0b6aa09940899678051a78542840c2668ce5080c2'
          minLength: 66
          description: 'Private key of sender address. Private key, or signature Id must be present.'
        nonce:
          type: number
          minimum: 0
          description: 'Nonce to be set to BSC transaction. If not present, last known nonce will be used.'
        fee:
          description: 'Custom defined fee. If not present, it will be calculated automatically.'
          type: object
          required:
            - gasLimit
            - gasPrice
          properties:
            gasLimit:
              type: string
              description: Gas limit for transaction in gas price.
              pattern: '^[+]?\d+$'
              example: '40000'
            gasPrice:
              type: string
              description: Gas price in Gwei.
              pattern: '^[+]?\d+$'
              example: '20'
      required:
        - contractAddress
        - params
        - methodABI
        - fromPrivateKey
        - methodName
    CallBscSmartContractReadMethod:
      type: object
      title: Call SC read method
      properties:
        contractAddress:
          maxLength: 42
          minLength: 42
          description: Address of BEP20 token
          example: '0x687422eEA2cB73B5d3e242bA5456b782919AFc85'
          type: string
        methodName:
          minLength: 1
          maxLength: 500
          description: Name of the method to invoke on smart contract.
          type: string
          example: transfer
        methodABI:
          type: object
          example:
            inputs:
              - internalType: uint256
                name: amount
                type: uint256
            name: stake
            outputs: []
            stateMutability: nonpayable
            type: function
          description: ABI of the method to invoke.
        params:
          type: array
          items:
            type: object
            description: Parameters of the method to be invoked
      required:
        - contractAddress
        - params
        - methodABI
        - methodName
    CallBscSmartContractMethodKMS:
      type: object
      title: Signature
      properties:
        contractAddress:
          maxLength: 42
          minLength: 42
          description: Address of BEP20 token
          example: '0x687422eEA2cB73B5d3e242bA5456b782919AFc85'
          type: string
        methodName:
          minLength: 1
          maxLength: 500
          description: Name of the method to invoke on smart contract.
          type: string
          example: transfer
        methodABI:
          type: object
          description: ABI of the method to invoke.
        params:
          type: array
          items:
            type: object
          description: Parameters of the method to be invoked.
        index:
          type: number
          minimum: 0
          description: 'If signatureId is mnemonic-based, this is the index to the specific address from that mnemonic.'
        signatureId:
          type: string
          minLength: 36
          maxLength: 36
          format: uuid
          example: 26d3883e-4e17-48b3-a0ee-09a3e484ac83
          description: 'Identifier of the private key associated in signing application. Private key, or signature Id must be present.'
        nonce:
          type: number
          minimum: 0
          description: 'Nonce to be set to BSC transaction. If not present, last known nonce will be used.'
        fee:
          description: 'Custom defined fee. If not present, it will be calculated automatically.'
          type: object
          required:
            - gasLimit
            - gasPrice
          properties:
            gasLimit:
              type: string
              description: Gas limit for transaction in gas price.
              pattern: '^[+]?\d+$'
              example: '40000'
            gasPrice:
              type: string
              description: Gas price in Gwei.
              pattern: '^[+]?\d+$'
              example: '20'
      required:
        - contractAddress
        - params
        - methodABI
        - signatureId
        - methodName
    Data:
      type: object
      properties:
        data:
          description: 'Result of the method, if the method was read only.'
          example: 2
          oneOf:
            - type: object
            - type: string
            - type: number
            - type: array
            - type: boolean
      required:
        - data
    EthBlock:
      type: object
      properties:
        difficulty:
          description: Difficulty for this block.
          type: string
          example: '3296820833'
        extraData:
          description: The 'extra data' field of this block.
          type: string
          example: 0x
        gasLimit:
          description: The maximum gas allowed in this block.
          type: number
          example: 8000000
        gasUsed:
          description: The total used gas by all transactions in this block.
          type: number
          example: 7985124
        hash:
          description: Hash of the block. 'null' when its pending block.
          type: string
          example: '0x5d40698ee1b1ec589035f2a39c6162287e9056868cc79d66cfb248ba9f66c3fc'
        logsBloom:
          description: The bloom filter for the logs of the block. 'null' when its pending block.
          type: string
          example: '0x042080004210492080800001610060ad9600005bc81502020800000043e302020381a404000100409102040240300641108004000400007000008000c049558055a800000a0001800748900806502004200400108205005418c0218802281a0408060000533210462021050470810a010140102809011814018281115020090201068401847000a04010000c00084062000485640d00020220181150020008589105a41c0880001112034100010882545410240011402a3480050104004c310204000002009490d0012022a040c20c20011020401020140250805100410060008280200008181a220114102800001648640828200c00a94c1003a2060e001000'
        miner:
          description: The address of the beneficiary to whom the mining rewards were given.
          type: string
          example: '0xD8869d9E3d497323561Fbca2319a9FC3F6f10c4B'
        mixHash:
          description: ''
          type: string
          example: '0x7a44a1f56f12ae825fdc04550d7c3af2344daab987691771c06235f25fafcaa6'
        nonce:
          description: Hash of the generated proof-of-work. 'null' when its pending block.
          type: string
          example: '0xfa1692f52a7ac672'
        number:
          description: The block number. 'null' when its pending block.
          type: number
          example: 6470657
        parentHash:
          description: Hash of the parent block.
          type: string
          example: '0xd34aab8a455027086ac54034e68608c84d984401a883b7b5d91f9ae0bbefda15'
        receiptsRoot:
          description: ''
          type: string
          example: '0x4a496b6b7f2a1c5850bf9eebbea7193807be0067b1c06f17b9dde4eef7b2f960'
        sha3Uncles:
          description: SHA3 of the uncles data in the block.
          type: string
          example: '0x1dcc4de8dec75d7aab85b567b6ccd41ad312451b948a7413f0a142fd40d49347'
        size:
          description: The size of this block in bytes.
          type: number
          example: 15296
        stateRoot:
          description: The root of the final state trie of the block.
          type: string
          example: '0x32757c92f10c6c5a106c6fb4b9ca3ff301e413a59ca3d0513b4bf98c72efddba'
        timestamp:
          description: The unix timestamp for when the block was collated.
          type: number
          example: 1569600592
        totalDifficulty:
          description: Total difficulty of the chain until this block.
          type: string
          example: '23329673338013873'
        transactions:
          description: Array of transactions.
          type: array
          items:
            $ref: '#/components/schemas/EthTx'
        transactionsRoot:
          description: The root of the transaction trie of the block.
          type: string
          example: '0x5990081ef8515d561b50255af03c5d505f7725ddef27405dc67d23bfd0f47704'
    EthTx:
      type: object
      properties:
        blockHash:
          description: Hash of the block where this transaction was in.
          type: string
          example: '0xcf2c40f475e78c7c19778e1ae999a0e371c9319b38182ea15dc94536f13f9137'
        status:
          type: boolean
          example: true
          description: 'TRUE if the transaction was successful, FALSE, if the EVM reverted the transaction.'
        blockNumber:
          type: number
          description: Block number where this transaction was in.
          example: 6470854
        from:
          type: string
          description: Address of the sender.
          example: '0x81b7E08F65Bdf5648606c89998A9CC8164397647'
        gas:
          type: number
          description: Gas provided by the sender.
          example: 21000
        gasPrice:
          type: string
          description: Gas price provided by the sender in wei.
          example: '1000000000'
        transactionHash:
          type: string
          description: Hash of the transaction.
          example: '0xe6e7340394958674cdf8606936d292f565e4ecc476aaa8b258ec8a141f7c75d7'
        input:
          type: string
          description: The data sent along with the transaction.
          example: 0x
        nonce:
          type: number
          description: The number of transactions made by the sender prior to this one.
          example: 26836405
        to:
          type: string
          description: Address of the receiver. 'null' when its a contract creation transaction.
          example: '0xbC546fa1716Ed886967cf73f40e8F2F5e623a92d'
        transactionIndex:
          type: number
          description: Integer of the transactions index position in the block.
          example: 3
        value:
          type: string
          description: Value transferred in wei.
          example: '1000000000000000000'
        gasUsed:
          type: number
          description: The amount of gas used by this specific transaction alone.
          example: 21000
        cumulativeGasUsed:
          type: number
          description: The total amount of gas used when this transaction was executed in the block.
          example: 314159
        contractAddress:
          type: string
          description: 'The contract address created, if the transaction was a contract creation, otherwise null.'
          example: '0x81b7E08F65Bdf5648606c89998A9CC8164397647'
        logs:
          type: array
          description: 'Log events, that happened in this transaction.'
          items:
            type: object
            properties:
              address:
                type: string
                description: From which this event originated from.
                example: '0x81b7E08F65Bdf5648606c89998A9CC8164397647'
              topics:
                type: array
                description: 'An array with max 4 32 Byte topics, topic 1-3 contains indexed parameters of the log.'
                items:
                  type: string
                  example: '0x033456732123ffff2342342dd12342434324234234fd234fd23fd4f23d4234'
              data:
                type: string
                description: The data containing non-indexed log parameter.
              logIndex:
                type: number
                description: Integer of the event index position in the block.
              transactionIndex:
                type: number
                description: 'Integer of the transaction’s index position, the event was created in.'
              transactionHash:
                type: string
                description: Hash of the transaction this event was created in.
                example: '0xe6e7340394958674cdf8606936d292f565e4ecc476aaa8b258ec8a141f7c75d7'
    PrivKey:
      type: object
      properties:
        key:
          description: Generated private key.
          example: cTmS2jBWXgFaXZ2xG9jhn67TiyTshnMp3UedamzEhGm6BZV1vLgQ
          type: string
    PrivKeyRequest:
      type: object
      properties:
        index:
          description: Derivation index of private key to generate.
          example: 0
          maximum: 2147483647
          type: integer
        mnemonic:
          maxLength: 500
          minLength: 1
          description: Mnemonic to generate private key from.
          example: urge pulp usage sister evidence arrest palm math please chief egg abuse
          type: string
      required:
        - mnemonic
        - index
    SignatureId:
      type: object
      title: SignatureId
      properties:
        signatureId:
          format: uuid
          description: 'ID of prepared payment template to sign. This is should be stored on a client side to retrieve ID of the blockchain transaction, when signing application signs the transaction and broadcasts it to the blockchain.'
          example: 1f7f7c0c-3906-4aa1-9dfe-4b67c43918f6
          type: string
      required:
        - signatureId
    TransferBscBlockchain:
      type: object
      title: PrivateKey
      properties:
        data:
          type: string
          maxLength: 50000
          description: 'Additinal data, that can be passed to blockchain transaction as data property. Only for ETH transactions.'
          example: My note to recipient.
        nonce:
          type: number
          minimum: 0
          description: 'Nonce to be set to BSC transaction. If not present, last known nonce will be used.'
        to:
          description: Blockchain address to send assets
          example: '0x687422eEA2cB73B5d3e242bA5456b782919AFc85'
          maxLength: 42
          minLength: 42
          type: string
        currency:
          description: 'Currency to transfer from BSC Blockchain Account. BEP20 tokens BETH, BBTC, BADA, WBNB, BDOT, BXRP, BLTC, BBCH are available only for mainnet use.'
          enum:
            - BETH
            - BBTC
            - RMD
            - USDC_BSC
            - B2U_BSC
            - BADA
            - WBNB
            - GMC_BSC
            - BDOT
            - BXRP
            - BLTC
            - BBCH
            - HAG
            - CAKE
            - BUSD_BSC
          example: BUSD_BSC
          type: string
        fee:
          description: 'Custom defined fee. If not present, it will be calculated automatically.'
          type: object
          required:
            - gasLimit
            - gasPrice
          properties:
            gasLimit:
              type: string
              description: Gas limit for transaction in gas price.
              example: '40000'
              pattern: '^[+]?\d+$'
            gasPrice:
              type: string
              description: Gas price in Gwei.
              example: '20'
              pattern: '^[+]?\d+$'
        amount:
          description: Amount to be sent in Ether.
          example: '100000'
          pattern: '^[+]?((\d+(\.\d*)?)|(\.\d+))$'
          type: string
        fromPrivateKey:
          type: string
          maxLength: 66
          example: '0x05e150c73f1920ec14caa1e0b6aa09940899678051a78542840c2668ce5080c2'
          minLength: 66
          description: 'Private key of sender address. Private key, or signature Id must be present.'
      required:
        - to
        - amount
        - currency
        - fromPrivateKey
    BscEstimateGas:
      type: object
      title: Estimate gas
      properties:
        from:
          type: string
          maxLength: 66
          example: '0xfb99f8ae9b70a0c8cd96ae665bbaf85a7e01a2ef'
          description: Sender address.
        to:
          description: Blockchain address to send assets
          example: '0x687422eEA2cB73B5d3e242bA5456b782919AFc85'
          maxLength: 42
          minLength: 42
          type: string
        amount:
          description: Amount to be sent in Ether.
          example: '100000'
          type: string
        data:
          type: string
          maxLength: 50000
          description: 'Additinal data, that can be passed to blockchain transaction as data property. Only for ETH transactions.'
          example: My note to recipient.
      required:
        - to
        - amount
        - from
    TransactionHashKMS:
      type: object
      title: TransactionHashKMS
      properties:
        txId:
          description: TX hash of successful transaction.
          example: c83f8818db43d9ba4accfe454aa44fc33123d47a4f89d47b314d6748eb0e9bc9
          type: string
        failed:
          description: 'In case of the transaction was broadcast to the blockchain, but it was not possible to complete Tatum KMS signature, reponse is marked as failed and must be marked manually.'
          example: false
          type: boolean
      required:
        - txId
    TransferBscBlockchainKMS:
      type: object
      title: Signature
      properties:
        data:
          type: string
          maxLength: 50000
          description: 'Additinal data, that can be passed to blockchain transaction as data property. Only for ETH transactions.'
          example: My note to recipient.
        nonce:
          type: number
          minimum: 0
          description: 'Nonce to be set to BSC transaction. If not present, last known nonce will be used.'
        to:
          description: Blockchain address to send assets
          example: '0x687422eEA2cB73B5d3e242bA5456b782919AFc85'
          maxLength: 42
          minLength: 42
          type: string
        currency:
          description: 'Currency to transfer from BSC Blockchain Account. BEP20 tokens BETH, BBTC, BADA, WBNB, BDOT, BXRP, BLTC, BBCH are available only for mainnet use.'
          enum:
            - BETH
            - BBTC
            - BADA
            - WBNB
            - BDOT
            - BXRP
            - BLTC
            - BBCH
            - BSC
          example: BSC
          type: string
        fee:
          description: 'Custom defined fee. If not present, it will be calculated automatically.'
          type: object
          required:
            - gasLimit
            - gasPrice
          properties:
            gasLimit:
              type: string
              description: Gas limit for transaction in gas price.
              example: '40000'
              pattern: '^[+]?\d+$'
            gasPrice:
              type: string
              description: Gas price in Gwei.
              example: '20'
              pattern: '^[+]?\d+$'
        amount:
          description: Amount to be sent in Ether.
          example: '100000'
          pattern: '^[+]?((\d+(\.\d*)?)|(\.\d+))$'
          type: string
        index:
          type: number
          minimum: 0
          description: 'If signatureId is mnemonic-based, this is the index to the specific address from that mnemonic.'
        signatureId:
          type: string
          minLength: 36
          maxLength: 36
          format: uuid
          example: 26d3883e-4e17-48b3-a0ee-09a3e484ac83
          description: 'Identifier of the private key associated in signing application. Private key, or signature Id must be present.'
      required:
        - to
        - amount
        - currency
        - signatureId
    Wallet:
      type: object
      properties:
        mnemonic:
          description: Generated mnemonic for wallet.
          example: >-
            urge pulp usage sister evidence arrest palm math please chief egg
            abuse
          type: string
        xpub:
          description: >-
            Generated Extended public key for wallet with derivation path
            according to BIP44. This key can be used to generate addresses.
          example: >-
            xpub6EsCk1uU6cJzqvP9CdsTiJwT2rF748YkPnhv5Qo8q44DG7nn2vbyt48YRsNSUYS44jFCW9gwvD9kLQu9AuqXpTpM1c5hgg9PsuBLdeNncid
          type: string
    Error401Invalid:
      properties:
        errorCode:
          example: subscription.invalid
          description: subscription.invalid
          type: string
        message:
          example: 'Unable to find valid subscription for ''${apiKey}'''
          description: 'Unable to find valid subscription for ''${apiKey}'''
          type: string
        statusCode:
          example: 401
          description: '401'
          type: number
      required:
        - errorCode
        - message
        - statusCode
      type: object
    Error401NotActive:
      properties:
        errorCode:
          example: subscription.not.active
          description: subscription.not.active
          type: string
        message:
          example: Subscription not active anymore.
          description: Subscription not active anymore.
          type: string
        statusCode:
          example: 401
          description: '401'
          type: number
      required:
        - errorCode
        - message
        - statusCode
      type: object
    Error403BscBroadcast:
      properties:
        errorCode:
          description: bsc.broadcast.failed
          example: bsc.broadcast.failed
          type: string
        message:
          description: 'Unable to broadcast transaction due to ${error}.'
          example: 'Unable to broadcast transaction due to ${error}.'
          type: string
        statusCode:
          description: '403'
          example: 403
          type: number
      required:
        - errorCode
        - message
        - statusCode
      type: object
    Error403BscGasCalculation:
      properties:
        errorCode:
          description: bsc.transaction.gas
          example: bsc.transaction.gas
          type: string
        message:
          description: 'Unable to calculate gas limit for transaction. ${error}'
          example: 'Unable to calculate gas limit for transaction. ${error}'
          type: string
        statusCode:
          description: '403'
          example: 403
          type: number
      required:
        - errorCode
        - message
        - statusCode
      type: object
    Error403BscTxBody:
      properties:
        errorCode:
          description: bsc.transaction.body
          example: bsc.transaction.body
          type: string
        message:
          description: 'Either currency, or tokenAddress must be defined.'
          example: 'Either currency, or tokenAddress must be defined.'
          type: string
        statusCode:
          description: '403'
          example: 403
          type: number
      required:
        - errorCode
        - message
        - statusCode
      type: object
    Error403BscScBody:
      properties:
        errorCode:
          description: bsc.sc.invalid
          example: bsc.sc.invalid
          type: string
        message:
          description: Invalid parameters for smart contract invocation.
          example: Invalid parameters for smart contract invocation.
          type: string
        statusCode:
          description: '403'
          example: 403
          type: number
      required:
        - errorCode
        - message
        - statusCode
      type: object
    Error403BscGasPrice:
      properties:
        errorCode:
          description: gas.price.failed
          example: gas.price.failed
          type: string
        message:
          description: Unable to obtain current GAS price.
          example: Unable to obtain current GAS price.
          type: string
        statusCode:
          description: '403'
          example: 403
          type: number
      required:
        - errorCode
        - message
        - statusCode
      type: object
    Error403BscTxHash:
      properties:
        errorCode:
          description: bsc.transaction.hash
          example: bsc.transaction.hash
          type: string
        message:
          description: 'Unable to calculate transaction hash. ${error}'
          example: 'Unable to calculate transaction hash. ${error}'
          type: string
        statusCode:
          description: '403'
          example: 403
          type: number
      required:
        - errorCode
        - message
        - statusCode
      type: object
    Error403BscTxSign:
      properties:
        errorCode:
          description: bsc.transaction.sign
          example: bsc.transaction.sign
          type: string
        message:
          description: 'Unable to sign transaction. ${error}'
          example: 'Unable to sign transaction. ${error}'
          type: string
        statusCode:
          description: '403'
          example: 403
          type: number
      required:
        - errorCode
        - message
        - statusCode
      type: object
    Error403TxNotFound:
      properties:
        errorCode:
          description: tx.missing
          example: tx.missing
          type: string
        message:
          description: No such tx.
          example: No such tx.
          type: string
        statusCode:
          description: '403'
          example: 403
          type: number
      required:
        - errorCode
        - message
        - statusCode
      type: object
    Error400:
      properties:
        errorCode:
          example: validation.failed
          description: validation.failed
          type: string
        message:
          example: Request validation failed. Please see data for additional information.
          description: Request validation failed. Please see data for additional information.
          type: string
        statusCode:
          example: 400
          description: '400'
          type: number
        data:
          type: array
          items:
            type: object
            required:
              - target
            properties:
              target:
                type: object
                additionalProperties: true
                description: Request object present in the body of the HTTP request
              value:
                type: number
                description: 'Value of the target object which validation is wrong. Can be of any data type, example here is using type number.'
                example: 12345
              property:
                type: string
                description: Property name of the target object which validation is wrong
                example: fromPrivateKey
              constraints:
                type: object
                additionalProperties: true
                description: 'Object of failed constraints for the target object. Key is the constraint, value is detailed description of the failed constraint.'
                example:
                  isNotEmpty: fromPrivateKey should not be empty
    Error500:
      properties:
        message:
          example: Internal server error
          description: Internal server error
          type: string
        statusCode:
          example: 500
          description: '500'
          type: number
        errorCode:
          example: internal.error
          description: Internal server error
          type: string
      required:
        - statusCode
        - message
      type: object
  securitySchemes:
    X-Api-Key:
      description: |
        To maintain the highest security level, Tatum requires X-API-Key HTTP header.
        This X-API-Key represents identification of the plan and can be used by 1 developer or per environment.
        Each X-API-Key is bound to the test or production blockchains.

        Connecting without an X-API-Key results in the creation of an API Key tied to your IP Address.
        This API Key is limited to 5req/s and 10M credits, these limits are renewed the 1st day of each month and are applicable to both testnet and mainnet.
        To differentiate between testnet and mainnet, please supply a ?type=testnet|mainnet query parameter with your calls, otherwise the api key will default to mainnet.
        You do not need to supply an API key in the X-API-Key header.
      in: header
      name: x-api-key
      type: apiKey
