openapi: 3.1.0
info:
  contact: {}
  title: Litecoin
  version: 3.9.4
  x-logo:
    url: 'https://tatum.io/images/logo.svg'
    altText: Tatum
  description: |-
    <h3>What is Litecoin?</h3>
    Litecoin is a peer-to-peer, digital currency that allows users to initiate instant, low-cost payments across the globe. 
    It is technically similar to Bitcoin, using a UTXO transaction model, and its main purpose is to provide cheaper transactions, more useability, and faster mining than its predecessor. <br/>
    <h3>How to use Litecoin?</h3>
    <p>Litecoin Blockchain enables access to the most commonly used Litecoin methods. These methods bring a small level of abstraction
    and are used for applications that communicate with the blockchain directly. Some of the methods are used alongside Tatum Private Ledger
    to connect the blockchain and the private ledger, like wallet generation or getting information about transactions.<br/>
    Tatum supports 2 chains:
    <ul><li><b>Mainnet</b> - a regular live chain</li>
    <li><b>Testnet</b> - a chain used for testing purposes. Coins on the test chain have no value and can be obtained from a faucet, e.g. <a target="_blank" href="http://testnet.litecointools.com/">http://testnet.litecointools.com/</a></li></ul>
    Tatum supports BIP44 HD wallets. Because they can generate 2^31 addresses from 1 mnemonic phrase, they are very convenient and secure. It is possible to generate this type of wallet with 1 simple API call.</p>
    <h3>Litecoin stats</h3>
    <b> Number of active addresses</b>: Around 300k (<a href="https://studio.glassnode.com/metrics?a=LTC&m=addresses.ActiveCount">Lets have a look at newest data here.</a>)<br/>
    <b> Gas fee</b>: Prices are <b>medium</b>, but it also depends on the current market situation. (<a href="https://bitinfocharts.com/comparison/litecoin-transactionfees.html#3y">Lets have a look at newest data here.</a>).
servers:
  - url: 'https://api-eu1.tatum.io'
  - url: 'https://api-us-west1.tatum.io'
tags:
  - description: ''
    name: Account
  - description: ''
    name: Block
  - description: ''
    name: Transaction
paths:
  /v3/litecoin/wallet:
    get:
      description: |
        <h4>5 credits per API call.</h4><br/><p>Tatum supports BIP44 HD wallets. It is very convenient and secure, since it can generate 2^31 addresses from 1 mnemonic phrase. Mnemonic phrase consists of 24 special words in defined order and can restore access to all generated addresses and private keys.<br/>Each address is identified by 3 main values:<ul><li>Private Key - your secret value, which should never be revealed</li><li>Public Key - public address to be published</li><li>Derivation index - index of generated address</li></ul></p><p>Tatum follows BIP44 specification and generates for Litecoin wallet with derivation path m'/44'/2'/0'/0. More about BIP44 HD wallets can be found here - <a target="_blank" href="https://github.com/litecoin/bips/blob/master/bip-0044.mediawiki">https://github.com/litecoin/bips/blob/master/bip-0044.mediawiki</a>.
        Generate BIP44 compatible Litecoin wallet.</p>
      operationId: LtcGenerateWallet
      summary: Generate Litecoin wallet
      tags:
        - Account
      parameters:
        - description: Mnemonic to use for generation of extended public and private keys.
          in: query
          name: mnemonic
          required: false
          schema:
            type: string
            maxLength: 500
        - description: For connection without API key. To differentiate between testnet and mainnet, please supply a ?type=testnet|mainnet query parameter with your calls
          in: query
          name: type
          required: false
          schema:
            type: string
            example: testnet
            default: mainnet
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Wallet'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
          description: Bad Request. Validation failed for the given object in the HTTP Body or Request parameters.
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Error401NotActive'
                  - $ref: '#/components/schemas/Error401Invalid'
          description: Unauthorized. Not valid or inactive subscription key present in the HTTP Header.
        '403':
          description: 'Forbidden. The request is authenticated, but it is not possible to required perform operation due to logical error or invalid permissions.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403BtcBlockchain'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
          description: Internal server error. There was an error on the server while processing the request.
      security:
        - X-Api-Key: []
  /v3/litecoin/info:
    get:
      description: '<h4>5 credits per API call.</h4><br/><p>Get Litecoin Blockchain Information. Obtain basic info like testnet / mainnet version of the chain, current block number and it''s hash.</p>'
      operationId: LtcGetBlockChainInfo
      summary: Get Litecoin Blockchain Information
      tags:
        - Block
      parameters:
        - description: For connection without API key. To differentiate between testnet and mainnet, please supply a ?type=testnet|mainnet query parameter with your calls
          in: query
          name: type
          required: false
          schema:
            type: string
            example: testnet
            default: mainnet
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LtcInfo'
          description: OK
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Error401NotActive'
                  - $ref: '#/components/schemas/Error401Invalid'
          description: Unauthorized. Not valid or inactive subscription key present in the HTTP Header.
        '403':
          description: 'Forbidden. The request is authenticated, but it is not possible to required perform operation due to logical error or invalid permissions.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403BtcBlockchain'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
          description: Internal server error. There was an error on the server while processing the request.
      security:
        - X-Api-Key: []
  '/v3/litecoin/block/hash/{i}':
    get:
      description: <h4>5 credits per API call.</h4><br/><p>Get Litecoin Block hash. Returns hash of the block to get the block detail.</p>
      operationId: LtcGetBlockHash
      summary: Get Litecoin Block hash
      tags:
        - Block
      parameters:
        - description: The number of blocks preceding a particular block on a block chain.
          in: path
          name: i
          required: true
          schema:
            type: number
            example: 1234314
        - description: For connection without API key. To differentiate between testnet and mainnet, please supply a ?type=testnet|mainnet query parameter with your calls
          in: query
          name: type
          required: false
          schema:
            type: string
            example: testnet
            default: mainnet
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  hash:
                    type: string
                    description: Block hash
                    example: 6178dda07b94becb118f67b21aa72f60d85c1029e9e9b8ae56a25d684de66078
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
          description: Bad Request. Validation failed for the given object in the HTTP Body or Request parameters.
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Error401NotActive'
                  - $ref: '#/components/schemas/Error401Invalid'
          description: Unauthorized. Not valid or inactive subscription key present in the HTTP Header.
        '403':
          description: 'Forbidden. The request is authenticated, but it is not possible to required perform operation due to logical error or invalid permissions.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403BtcBlockchain'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
          description: Internal server error. There was an error on the server while processing the request.
      security:
        - X-Api-Key: []
  '/v3/litecoin/block/{hash}':
    get:
      description: <h4>5 credits per API call.</h4><br/><p>Get Litecoin Block detail by block hash or height.</p>
      operationId: LtcGetBlock
      summary: Get Litecoin Block by hash or height
      tags:
        - Block
      parameters:
        - description: Block hash or height.
          in: path
          name: hash
          required: true
          schema:
            type: string
            example: '1234314'
        - description: For connection without API key. To differentiate between testnet and mainnet, please supply a ?type=testnet|mainnet query parameter with your calls
          in: query
          name: type
          required: false
          schema:
            type: string
            example: testnet
            default: mainnet
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LtcBlock'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
          description: Bad Request. Validation failed for the given object in the HTTP Body or Request parameters.
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Error401NotActive'
                  - $ref: '#/components/schemas/Error401Invalid'
          description: Unauthorized. Not valid or inactive subscription key present in the HTTP Header.
        '403':
          description: 'Forbidden. The request is authenticated, but it is not possible to required perform operation due to logical error or invalid permissions.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403BlockNotExists'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
          description: Internal server error. There was an error on the server while processing the request.
      security:
        - X-Api-Key: []
  '/v3/litecoin/transaction/{hash}':
    get:
      description: <h4>5 credits per API call.</h4><br/><p>Get Litecoin Transaction detail by transaction hash.</p>
      operationId: LtcGetRawTransaction
      summary: Get Litecoin Transaction by hash
      tags:
        - Transaction
      parameters:
        - description: Transaction hash
          in: path
          name: hash
          required: true
          schema:
            type: string
            example: d60631d8e5c8b6eb0557b5181cf28564d771c628a08abc414e87ad7c05ff2fc2
        - description: For connection without API key. To differentiate between testnet and mainnet, please supply a ?type=testnet|mainnet query parameter with your calls
          in: query
          name: type
          required: false
          schema:
            type: string
            example: testnet
            default: mainnet
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LtcTx'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
          description: Bad Request. Validation failed for the given object in the HTTP Body or Request parameters.
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Error401NotActive'
                  - $ref: '#/components/schemas/Error401Invalid'
          description: Unauthorized. Not valid or inactive subscription key present in the HTTP Header.
        '403':
          description: 'Forbidden. The request is authenticated, but it is not possible to required perform operation due to logical error or invalid permissions.'
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Error403BtcBlockchain'
                  - $ref: '#/components/schemas/Error403TxNotFound'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
          description: Internal server error. There was an error on the server while processing the request.
      security:
        - X-Api-Key: []
  /v3/litecoin/mempool:
    get:
      description: <h4>1 credit per API call.</h4><br/><p>Get Litecoin Transaction ids in the mempool.</p>
      operationId: LtcGetMempool
      summary: Get Litecoin mempool transactions
      tags:
        - Transaction
      parameters:
        - description: For connection without API key. To differentiate between testnet and mainnet, please supply a ?type=testnet|mainnet query parameter with your calls
          in: query
          name: type
          required: false
          schema:
            type: string
            example: testnet
            default: mainnet
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                  description: TX ID of the transaction in mempool
                  example: 4c7846a8ff8415945e96937dea27bdb3144c15d793648d725602784826052586
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
          description: Bad Request. Validation failed for the given object in the HTTP Body or Request parameters.
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Error401NotActive'
                  - $ref: '#/components/schemas/Error401Invalid'
          description: Unauthorized. Not valid or inactive subscription key present in the HTTP Header.
        '403':
          description: 'Forbidden. The request is authenticated, but it is not possible to required perform operation due to logical error or invalid permissions.'
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Error403BtcBlockchain'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
          description: Internal server error. There was an error on the server while processing the request.
      security:
        - X-Api-Key: []
  '/v3/litecoin/transaction/address/{address}':
    get:
      description: <h4>5 credits per API call.</h4><br/><p>Get Litecoin Transaction by address.</p>
      operationId: LtcGetTxByAddress
      summary: Get Litecoin Transactions by address
      tags:
        - Transaction
      parameters:
        - description: Address
          in: path
          name: address
          required: true
          schema:
            type: string
            example: n4YNG8q5JyxkeWf7zMi1bMyRZbRKK1W7or
        - description: Max number of items per page is 50.
          in: query
          name: pageSize
          schema:
            type: number
            example: 10
            maximum: 50
            minimum: 1
          required: true
        - description: Offset to obtain next page of the data.
          in: query
          name: offset
          schema:
            type: number
            example: 0
        - description: For connection without API key. To differentiate between testnet and mainnet, please supply a ?type=testnet|mainnet query parameter with your calls
          in: query
          name: type
          required: false
          schema:
            type: string
            example: testnet
            default: mainnet
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/LtcTx'
                type: array
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
          description: Bad Request. Validation failed for the given object in the HTTP Body or Request parameters.
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Error401NotActive'
                  - $ref: '#/components/schemas/Error401Invalid'
          description: Unauthorized. Not valid or inactive subscription key present in the HTTP Header.
        '403':
          description: 'Forbidden. The request is authenticated, but it is not possible to required perform operation due to logical error or invalid permissions.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403BtcBlockchain'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
          description: Internal server error. There was an error on the server while processing the request.
      security:
        - X-Api-Key: []
  '/v3/litecoin/address/balance/{address}':
    get:
      description: <h4>5 credits per API call.</h4><br/><p>Get Litecoin Balance of the address.</p>
      operationId: LtcGetBalanceOfAddress
      summary: Get Litecoin Balance of the address
      tags:
        - Account
      parameters:
        - description: Address
          in: path
          name: address
          required: true
          schema:
            type: string
            example: n4YNG8q5JyxkeWf7zMi1bMyRZbRKK1W7or
        - description: For connection without API key. To differentiate between testnet and mainnet, please supply a ?type=testnet|mainnet query parameter with your calls
          in: query
          name: type
          required: false
          schema:
            type: string
            example: testnet
            default: mainnet
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BtcBasedBalance'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
          description: Bad Request. Validation failed for the given object in the HTTP Body or Request parameters.
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Error401NotActive'
                  - $ref: '#/components/schemas/Error401Invalid'
          description: Unauthorized. Not valid or inactive subscription key present in the HTTP Header.
        '403':
          description: 'Forbidden. The request is authenticated, but it is not possible to required perform operation due to logical error or invalid permissions.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403BtcBlockchain'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
          description: Internal server error. There was an error on the server while processing the request.
      security:
        - X-Api-Key: []
  '/v3/litecoin/utxo/{hash}/{index}':
    get:
      description: |
        <h4>5 credits per API call.</h4><br/>
        <p>Get UTXO of given transaction and output index. UTXO means Unspent Transaction Output, which is in blockchain terminology assets, that user
        received on the specific address and does not spend it yet.<br/>
        In bitcoin-like blockchains (BTC, LTC, DOGE, BCH), every transaction is built from the list of previously
         not spent transactions connected to the address. If user owns address A, receives in transaciont T1 10 LTC, he can spend in the next transaction
        UTXO T1 of total value 10 LTC. User can spend multiple UTXOs from different addresses in 1 transaction.<br/>
        If UTXO is not spent, data are returned, otherwise 404 error code.</p>
      operationId: LtcGetUTXO
      summary: Get Litecoin UTXO of Transaction
      tags:
        - Transaction
      parameters:
        - description: TX Hash
          in: path
          name: hash
          required: true
          schema:
            type: string
            minLength: 64
            maxLength: 64
            example: 5f83d51c8d3054012cea3011fa626b85d89442788721afd60719ab1f9ab8f78a
        - description: Index of tx output to check if spent or not
          in: path
          name: index
          required: true
          schema:
            type: number
            example: 0
            minimum: 0
        - description: For connection without API key. To differentiate between testnet and mainnet, please supply a ?type=testnet|mainnet query parameter with your calls
          in: query
          name: type
          required: false
          schema:
            type: string
            example: testnet
            default: mainnet
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LtcUTXO'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
          description: Bad Request. Validation failed for the given object in the HTTP Body or Request parameters.
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Error401NotActive'
                  - $ref: '#/components/schemas/Error401Invalid'
          description: Unauthorized. Not valid or inactive subscription key present in the HTTP Header.
        '403':
          description: 'Forbidden. The request is authenticated, but it is not possible to required perform operation due to logical error or invalid permissions.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403BtcUTXO'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
          description: Internal server error. There was an error on the server while processing the request.
      security:
        - X-Api-Key: []
  '/v3/litecoin/address/{xpub}/{index}':
    get:
      description: |
        <h4>5 credits per API call.</h4><br/>
        <p>Generate Litecoin deposit address from Extended public key. Deposit address is generated for the specific index - each extended public key can generate
        up to 2^31 addresses starting from index 0 until 2^31 - 1.</p>
      operationId: LtcGenerateAddress
      summary: Generate Litecoin deposit address from Extended public key
      tags:
        - Account
      parameters:
        - description: Extended public key of wallet.
          in: path
          name: xpub
          required: true
          example: xpub6EsCk1uU6cJzqvP9CdsTiJwT2rF748YkPnhv5Qo8q44DG7nn2vbyt48YRsNSUYS44jFCW9gwvD9kLQu9AuqXpTpM1c5hgg9PsuBLdeNncid
          schema:
            type: string
        - description: Derivation index of desired address to be generated.
          in: path
          name: index
          required: true
          example: 0
          schema:
            type: number
        - description: For connection without API key. To differentiate between testnet and mainnet, please supply a ?type=testnet|mainnet query parameter with your calls
          in: query
          name: type
          required: false
          schema:
            type: string
            example: testnet
            default: mainnet
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  address:
                    type: string
                    description: Litecoin address
                    example: n36h3pAH7sC3z8KMB47BjbqvW2aJd2oTi7
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
          description: Bad Request. Validation failed for the given object in the HTTP Body or Request parameters.
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Error401NotActive'
                  - $ref: '#/components/schemas/Error401Invalid'
          description: Unauthorized. Not valid or inactive subscription key present in the HTTP Header.
        '403':
          description: 'Forbidden. The request is authenticated, but it is not possible to required perform operation due to logical error or invalid permissions.'
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Error403AccountIncompatibleXpubBtc'
                  - $ref: '#/components/schemas/Error403AccountAddressGeneral'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
          description: Internal server error. There was an error on the server while processing the request.
      security:
        - X-Api-Key: []
  /v3/litecoin/wallet/priv:
    post:
      description: |
        <h4>5 credits per API call.</h4><br/>
        <p>Generate private key for address from mnemonic for given derivation path index. Private key is generated for the specific index - each mnemonic
        can generate up to 2^32 private keys starting from index 0 until 2^31 - 1.</p>
      operationId: LtcGenerateAddressPrivateKey
      summary: Generate Litecoin private key
      tags:
        - Account
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivKeyRequest'
        required: true
      parameters:
        - description: For connection without API key. To differentiate between testnet and mainnet, please supply a ?type=testnet|mainnet query parameter with your calls
          in: query
          name: type
          required: false
          schema:
            type: string
            example: testnet
            default: mainnet
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivKey'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
          description: Bad Request. Validation failed for the given object in the HTTP Body or Request parameters.
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Error401NotActive'
                  - $ref: '#/components/schemas/Error401Invalid'
          description: Unauthorized. Not valid or inactive subscription key present in the HTTP Header.
        '403':
          description: 'Forbidden. The request is authenticated, but it is not possible to required perform operation due to logical error or invalid permissions.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403BlockchainPrivateFailed'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
          description: Internal server error. There was an error on the server while processing the request.
      security:
        - X-Api-Key: []
  /v3/litecoin/transaction:
    post:
      description: |
        <h4>10 credits per API call.</h4><br/>
        <p>Send Litecoin to blockchain addresses. It is possible to build a blockchain transaction in 2 ways:
        <ul>
        <li><b>fromAddress</b> - assets will be sent from the list of addresses. For each of the addresses last 100 transactions will be scanned for any unspent UTXO and will be included in the transaction.</li>
        <li><b>fromUTXO</b> - assets will be sent from the list of unspent UTXOs. Each of the UTXO will be included in the transaction.</li>
        </ul>
        In bitcoin-like blockchains, the transaction is created from the list of previously not spent UTXO. Every UTXO contains the number of funds, which can be spent.
        When the UTXO enters into the transaction, the whole amount is included and must be spent. For example, address A receives 2 transactions, T1 with 1 LTC and T2 with 2 LTC.
        The transaction, which will consume UTXOs for T1 and T2, will have available amount to spent 3 LTC = 1 LTC (T1) + 2 LTC(T2).<br/><br/>
        There can be multiple recipients of the transactions, not only one. In the <b>to</b> section, every recipient address has it's corresponding amount.
        When the amount of funds, that should receive the recipient is lower than the number of funds from the UTXOs, the difference is used as a transaction fee.<br/><br/>
        This operation needs the private key of the blockchain address. Every time the funds are transferred, the transaction must be signed with the corresponding private key.
        No one should ever send it's own private keys to the internet because there is a strong possibility of stealing keys and losing funds. In this method, it is possible to enter privateKey
        or signatureId. PrivateKey should be used only for quick development on testnet versions of blockchain when there is no risk of losing funds. In production,
        <a href="https://github.com/tatumio/tatum-kms" target="_blank">Tatum KMS</a> should be used for the highest security standards, and signatureId should be present in the request.
        Alternatively, using the Tatum client library for supported languages.
        </p>
      operationId: LtcTransferBlockchain
      summary: Send Litecoin to blockchain addresses
      tags:
        - Transaction
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/LtcTransactionAddress'
                - $ref: '#/components/schemas/LtcTransactionAddressKMS'
                - $ref: '#/components/schemas/LtcTransactionUTXO'
                - $ref: '#/components/schemas/LtcTransactionUTXOKMS'
        required: true
      parameters:
        - description: For connection without API key. To differentiate between testnet and mainnet, please supply a ?type=testnet|mainnet query parameter with your calls
          in: query
          name: type
          required: false
          schema:
            type: string
            example: testnet
            default: mainnet
      responses:
        '200':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/TransactionHashKMS'
                  - $ref: '#/components/schemas/SignatureId'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
          description: Bad Request. Validation failed for the given object in the HTTP Body or Request parameters.
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Error401NotActive'
                  - $ref: '#/components/schemas/Error401Invalid'
          description: Unauthorized. Not valid or inactive subscription key present in the HTTP Header.
        '403':
          description: 'Forbidden. The request is authenticated, but it is not possible to required perform operation due to logical error or invalid permissions.'
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Error403BtcTx'
                  - $ref: '#/components/schemas/Error403BtcBlockchain'
                  - $ref: '#/components/schemas/Error403BtcUTXO'
                  - $ref: '#/components/schemas/Error403Broadcast'
                  - $ref: '#/components/schemas/Error403BtcTxFailed'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
          description: Internal server error. There was an error on the server while processing the request.
      security:
        - X-Api-Key: []
  /v3/litecoin/broadcast:
    post:
      description: |
        <h4>5 credits per API call.</h4><br/>
        <p>Broadcast signed transaction to Litecoin blockchain. This method is used internally from Tatum KMS, Tatum Middleware or Tatum client libraries.
        It is possible to create custom signing mechanism and use this method only for broadcasting data to the blockchian.</p>
      operationId: LtcBroadcast
      summary: Broadcast signed Litecoin transaction
      tags:
        - Transaction
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BroadcastKMS'
        required: true
      parameters:
        - description: For connection without API key. To differentiate between testnet and mainnet, please supply a ?type=testnet|mainnet query parameter with your calls
          in: query
          name: type
          required: false
          schema:
            type: string
            example: testnet
            default: mainnet
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionHashKMS'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
          description: Bad Request. Validation failed for the given object in the HTTP Body or Request parameters.
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Error401NotActive'
                  - $ref: '#/components/schemas/Error401Invalid'
          description: Unauthorized. Not valid or inactive subscription key present in the HTTP Header.
        '403':
          description: 'Forbidden. The request is authenticated, but it is not possible to required perform operation due to logical error or invalid permissions.'
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Error403BtcBlockchain'
                  - $ref: '#/components/schemas/Error403Broadcast'
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
          description: Internal server error. There was an error on the server while processing the request.
      security:
        - X-Api-Key: []
  /v3/litecoin/node:
    post:
      description: |
        <h4>2 credits per API call.</h4><br/>
        Use this endpoint URL as an http-based JSON RPC driver to connect directly to the node provided by Tatum. <br/>
        To learn more about JSON RPC, please visit <a href=\"https://developer.bitcoin.org/reference/rpc/index.html\" target=\"_blank\">Bitcoin developers' guide.</a>
      operationId: BzcRpcDriver
      summary: Litecoin RPC node
      tags:
        - Transaction
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Any valid JSON RPC method content body. description.
              properties:
                jsonrpc:
                  type: integer
                  description: Version of the JSON RPC.
                  example: 1.0
                id:
                  type: string
                  description: ID of the request, could be any arbitrary identifier.
                  example: "test"
                method:
                  type: string
                  description: "Method to invoke on the note."
                  example: "getblockcount"
                params:
                    type: array
                    description: "Params to the method call, if required."
                    example: []
        required: true
      parameters:
        - description: For connection without API key. To differentiate between testnet and mainnet, please supply a ?type=testnet|mainnet query parameter with your calls
          in: query
          name: type
          required: false
          schema:
            type: string
            example: testnet
            default: mainnet
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                description: "Any valid RPC response."
                example:
                  jsonrpc: 1.0
                  id: "test"
                  result: 654321
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
          description: Bad Request. Validation failed for the given object in the HTTP Body or Request parameters.
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Error401NotActive'
                  - $ref: '#/components/schemas/Error401Invalid'
          description: Unauthorized. Not valid or inactive subscription key present in the HTTP Header.
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
          description: Internal server error. There was an error on the server while processing the request.
      security:
        - X-Api-Key: []
components:
  schemas:
    BroadcastKMS:
      properties:
        txData:
          description: Raw signed transaction to be published to network.
          example: 62BD544D1B9031EFC330A3E855CC3A0D51CA5131455C1AB3BCAC6D243F65460D
          maxLength: 500000
          minLength: 1
          type: string
        signatureId:
          description: 'ID of prepared payment template to sign. Required only, when broadcasting transaction signed by Tatum KMS.'
          format: uuid
          example: 1f7f7c0c-3906-4aa1-9dfe-4b67c43918f6
          type: string
          minLength: 36
          maxLength: 36
      required:
        - txData
      type: object
    BtcBasedBalance:
      type: object
      properties:
        incoming:
          type: string
          description: Total sum of the assets that arrives to the address.
          example: '0.1234'
        outgoing:
          type: string
          description: Total sum of the assets that leaves from the address.
          example: '0.1'
    LtcInfo:
      type: object
      properties:
        chain:
          type: string
          description: 'Chain of the blockchain, main or test.'
          example: test
        blocks:
          type: number
          description: Last block.
          example: 1234314
        headers:
          type: number
          description: Last headers.
          example: 1234314
        bestblockhash:
          type: string
          description: Hash of the last block.
          example: 6178dda07b94becb118f67b21aa72f60d85c1029e9e9b8ae56a25d684de66078
        difficulty:
          type: number
          description: Difficulty of the PoW algorithm.
          example: 0.0018856935093586335
    LtcBlock:
      type: object
      properties:
        hash:
          type: string
          description: Hash of block.
          example: 6178dda07b94becb118f67b21aa72f60d85c1029e9e9b8ae56a25d684de66078
        height:
          type: number
          description: The number of blocks preceding a particular block on a block chain.
          example: 1234314
        version:
          type: number
          example: 536870912
          description: Block version.
        prevBlock:
          type: string
          description: Hash of the previous block.
          example: a3047a060e5d586a9b26779ebe62fc57ce7323745da8f28761ab755454d89c52
        merkleRoot:
          type: string
          description: 'The root node of a merkle tree, a descendant of all the hashed pairs in the tree.'
          example: a1634a42a8e956a5fb5225d06c3af6207e7f6fe5a00fa45229edfd0ddfa587f0
        ts:
          type: number
          description: Time of the block.
          example: 1572865501
        bits:
          type: number
          example: 503452237
        nonce:
          type: number
          description: Arbitrary number that is used in Litecoin's proof of work consensus algorithm.
          example: 2278594841
        txs:
          type: array
          items:
            $ref: '#/components/schemas/LtcTx'
    LtcTx:
      type: object
      properties:
        hash:
          type: string
          description: Transaction hash.
          example: 5f83d51c8d3054012cea3011fa626b85d89442788721afd60719ab1f9ab8f78a
        witnessHash:
          type: string
          description: Witness hash in case of a SegWit transaction.
          example: d819688a3ac77cb6d2751808e5411baf7e20fa3eeeccf65867554a09beddd9a3
        fee:
          type: string
          description: 'Fee paid for this transaction, in LTC.'
          example: '0.00001682'
        rate:
          type: string
          example: '0.00010011'
        ps:
          type: number
          example: 1572703011
        height:
          type: number
          description: Height of the block this transaction belongs to.
          example: 1233224
        block:
          type: string
          description: Hash of the block this transaction belongs to.
          example: b540bf37450eae0fb9fb7f190009ca890f0dd17cb19521c6241a0dc5e70f67dc
        ts:
          type: number
          description: Time of the transaction.
          example: 1572694484
        index:
          type: number
          description: Index of the transaction in the block.
          example: 2
        version:
          type: number
          description: Index of the transaction.
          example: 2
        flag:
          type: number
          example: 1
        inputs:
          description: 'List of transactions, from which assets are being sent.'
          type: array
          items:
            type: object
            properties:
              prevout:
                properties:
                  hash:
                    type: string
                    description: Transaction hash of the input.
                    example: 0db5a2881f26f7dce20222f9c2538dc296ab562e134a72052596bdf4bb6913b4
                  index:
                    type: number
                    description: Transaction index of the input.
                    example: 1
                type: object
              script:
                type: string
                description: Data generated by a spender which is almost always used as variables to satisfy a pubkey script.
                example: 1600148c65244f095f3689aebb70981d102e33036fe786
              witness:
                type: string
                description: Transaction witness.
                example: 0247304402202cad8f03fd061fbdd19d285f528dd7451c3818f4a1d0f5f9f559f141fb910c6e02203fb62fc770cf54ae53e4b488b589f9f096d28c1bd24dc8e4d80783dd58041826012102c44d21e840b24c786a7eff2980e35f51c4abcc9a032e7a132ca258f90ee4a19d
              sequence:
                type: number
                example: 4294967294
              coin:
                properties:
                  version:
                    type: number
                    example: 2
                  height:
                    type: number
                    example: 1232869
                  value:
                    type: string
                    description: 'Value of the transaction, in LTC.'
                    example: '0.0989946'
                  script:
                    type: string
                    example: a91472593295cfe5e7ea466e43822167cabcb2cb103387
                  address:
                    type: string
                    description: Sender address.
                    example: 2N3fqsiA5Nk4pZGWcfZApATGhXfn9B74oXK
                  coinbase:
                    type: boolean
                    description: Coinbase transaction - miner fee.
                    example: false
                type: object
        outputs:
          description: List of recipient addresses and amounts to send to each of them.
          type: array
          items:
            type: object
            properties:
              value:
                type: string
                description: Sent amount in LTC.
                example: '0.0015'
              script:
                type: string
                description: Transaction script.
                example: 76a914fc8f50c952da910f473a0533561311ad140c989b88ac
              address:
                type: string
                description: Recipient address.
                example: n4YNG8q5JyxkeWf7zMi1bMyRZbRKK1W7or
        locktime:
          type: number
          description: Block this transaction was included in.
          example: 1233222
    LtcUTXO:
      type: object
      properties:
        version:
          type: number
          description: Version of the UTXO.
          example: 2
        height:
          type: number
          example: 1233224
        value:
          type: string
          description: Amount of UTXO in LTC.
          example: '0.0015'
        script:
          type: string
          description: Data generated by a spender which is almost always used as variables to satisfy a pubkey script.
          example: 76a914fc8f50c952da910f473a0533561311ad140c989b88ac
        address:
          type: string
          description: Address of the owner of the UTXO.
          example: n4YNG8q5JyxkeWf7zMi1bMyRZbRKK1W7or
        coinbase:
          type: boolean
          description: Coinbase transaction - miner fee.
          example: false
        hash:
          type: string
          description: Transaction hash.
          example: 5f83d51c8d3054012cea3011fa626b85d89442788721afd60719ab1f9ab8f78a
        index:
          type: number
          description: Transaction index of the output.
          example: 0
    LtcTransactionAddress:
      type: object
      title: PrivateKey
      required:
        - to
        - fromAddress
      properties:
        fromAddress:
          description: Array of addresses and corresponding private keys. Tatum will automatically scan last 100 transactions for each address and will use all of the unspent values. We advise to use this option if you have 1 address per 1 transaction only.
          type: array
          items:
            type: object
            required:
              - address
              - privateKey
            properties:
              address:
                description: Address to send assets from.
                type: string
                minimum: 30
                maximum: 50
                example: 2N9bBiH2qrTDrPCzrNhaFGdkNKS86PJAAAS
              privateKey:
                description: 'Private key of the address to send assets from. Private key, or signature Id must be present.'
                type: string
                minimum: 52
                maximum: 52
                example: cVX7YtgL5muLTPncHFhP95oitV1mqUUA5VeSn8HeCRJbPqipzobf
        to:
          description: Array of addresses and values to send Litecoins to. Values must be set in LTC. Difference between from and to is transaction fee.
          type: array
          items:
            type: object
            required:
              - address
              - value
            properties:
              address:
                description: Destination address.
                type: string
                example: 2MzNGwuKvMEvKMQogtgzSqJcH2UW3Tc5oc7
                minimum: 30
                maximum: 60
              value:
                description: 'Amount to be sent, in LTC.'
                type: number
                minimum: 0
                example: 0.02969944
    LtcTransactionUTXO:
      type: object
      title: UTXO
      required:
        - to
        - fromUTXO
      properties:
        fromUTXO:
          description: 'Array of transaction hashes, index of UTXO in it and corresponding private keys. Use this option if you want to calculate amount to send manually. Either fromUTXO or fromAddress must be present.'
          type: array
          items:
            type: object
            required:
              - txHash
              - index
              - privateKey
            properties:
              txHash:
                description: Transaction hash of the UTXO to be spent.
                type: string
                example: 53faa103e8217e1520f5149a4e8c84aeb58e55bdab11164a95e69a8ca50f8fcc
                minLength: 64
                maxLength: 64
              index:
                description: Index of the UTXO to be spent.
                type: number
                example: 0
                minimum: 0
                maximum: 2147483647
              privateKey:
                description: 'Private key of the UTXO to be spent. Private key, or signature Id must be present.'
                type: string
                example: cVX7YtgL5muLTPncHFhP95oitV1mqUUA5VeSn8HeCRJbPqipzobf
                minLength: 52
                maxLength: 52
        to:
          description: Array of addresses and values to send Litecoins to. Values must be set in LTC. Difference between from and to is transaction fee.
          type: array
          items:
            type: object
            required:
              - address
              - value
            properties:
              address:
                description: Destination address.
                type: string
                example: 2MzNGwuKvMEvKMQogtgzSqJcH2UW3Tc5oc7
                minimum: 30
                maximum: 60
              value:
                description: 'Amount to be sent, in LTC.'
                type: number
                minimum: 0
                example: 0.02969944
    LtcTransactionAddressKMS:
      type: object
      title: Signature
      required:
        - to
        - fromAddress
      properties:
        fromAddress:
          description: Array of addresses and corresponding private keys. Tatum will automatically scan last 100 transactions for each address and will use all of the unspent values. We advise to use this option if you have 1 address per 1 transaction only.
          type: array
          items:
            type: object
            required:
              - address
              - signatureId
            properties:
              address:
                description: Address to send assets from.
                type: string
                minimum: 30
                maximum: 50
                example: 2N9bBiH2qrTDrPCzrNhaFGdkNKS86PJAAAS
              signatureId:
                type: string
                minimum: 36
                maximum: 36
                format: uuid
                example: 1f7f7c0c-3906-4aa1-9dfe-4b67c43918f6
                description: 'Identifier of the private key associated in signing application. Private key, or signature Id must be present.'
        to:
          description: Array of addresses and values to send Litecoins to. Values must be set in LTC. Difference between from and to is transaction fee.
          type: array
          items:
            type: object
            required:
              - address
              - value
            properties:
              address:
                description: Destination address.
                type: string
                example: 2MzNGwuKvMEvKMQogtgzSqJcH2UW3Tc5oc7
                minimum: 30
                maximum: 60
              value:
                description: 'Amount to be sent, in LTC.'
                type: number
                minimum: 0
                example: 0.02969944
    LtcTransactionUTXOKMS:
      type: object
      title: UTXO + Signature
      required:
        - to
        - fromUTXO
      properties:
        fromUTXO:
          description: 'Array of transaction hashes, index of UTXO in it and corresponding private keys. Use this option if you want to calculate amount to send manually. Either fromUTXO or fromAddress must be present.'
          type: array
          items:
            type: object
            required:
              - txHash
              - index
              - signatureId
            properties:
              txHash:
                description: Transaction hash of the UTXO to be spent.
                type: string
                example: 53faa103e8217e1520f5149a4e8c84aeb58e55bdab11164a95e69a8ca50f8fcc
                minLength: 64
                maxLength: 64
              index:
                description: Index of the UTXO to be spent.
                type: number
                example: 0
                minimum: 0
                maximum: 2147483647
              signatureId:
                type: string
                minimum: 36
                maximum: 36
                format: uuid
                example: 1f7f7c0c-3906-4aa1-9dfe-4b67c43918f6
                description: 'Identifier of the private key associated in signing application. Private key, or signature Id must be present.'
        to:
          description: Array of addresses and values to send Litecoins to. Values must be set in LTC. Difference between from and to is transaction fee.
          type: array
          items:
            type: object
            required:
              - address
              - value
            properties:
              address:
                description: Destination address.
                type: string
                example: 2MzNGwuKvMEvKMQogtgzSqJcH2UW3Tc5oc7
                minimum: 30
                maximum: 60
              value:
                description: 'Amount to be sent, in LTC.'
                type: number
                minimum: 0
                example: 0.02969944
    PrivKey:
      type: object
      properties:
        key:
          description: Generated private key.
          example: cTmS2jBWXgFaXZ2xG9jhn67TiyTshnMp3UedamzEhGm6BZV1vLgQ
          type: string
    PrivKeyRequest:
      type: object
      properties:
        index:
          description: Derivation index of private key to generate.
          example: 0
          maximum: 2147483647
          type: integer
        mnemonic:
          maxLength: 500
          minLength: 1
          description: Mnemonic to generate private key from.
          example: urge pulp usage sister evidence arrest palm math please chief egg abuse
          type: string
      required:
        - mnemonic
        - index
    SignatureId:
      type: object
      title: SignatureId
      properties:
        signatureId:
          format: uuid
          description: 'ID of prepared payment template to sign. This is should be stored on a client side to retrieve ID of the blockchain transaction, when signing application signs the transaction and broadcasts it to the blockchain.'
          example: 1f7f7c0c-3906-4aa1-9dfe-4b67c43918f6
          type: string
      required:
        - signatureId
    TransactionHashKMS:
      type: object
      title: TransactionHashKMS
      properties:
        txId:
          description: TX hash of successful transaction.
          example: c83f8818db43d9ba4accfe454aa44fc33123d47a4f89d47b314d6748eb0e9bc9
          type: string
        failed:
          description: 'In case of the transaction was broadcast to the blockchain, but it was not possible to complete Tatum KMS signature, reponse is marked as failed and must be marked manually.'
          example: false
          type: boolean
      required:
        - txId
    Wallet:
      type: object
      properties:
        address:
          maxLength: 58
          minLength: 58
          description: address of Litecoin account.
          example: NTAESFCB3WOD7SAOL42KSPVARLB3JFA3MNX3AESWHYVT2RMYDVZI6YLG4Y
          type: string
        secret:
          maxLength: 103
          minLength: 103
          description: 'secretKey can generate Mnemonic, similar to private Key.'
          type: string
          example: NBYMCVEEDFYV3TPWVRE6APE7PKHUJD4XAKXCKNCLKGUXOC3LFNJGZQCJCRA53HB7ZAHF6NFJH2QIVQ5USQNWG35QCJLD4KZ5IWMB24Q
    Error400:
      properties:
        errorCode:
          example: validation.failed
          description: validation.failed
          type: string
        message:
          example: Request validation failed. Please see data for additional information.
          description: Request validation failed. Please see data for additional information.
          type: string
        statusCode:
          example: 400
          description: '400'
          type: number
        data:
          type: array
          items:
            type: object
            required:
              - target
            properties:
              target:
                type: object
                additionalProperties: true
                description: Request object present in the body of the HTTP request
              value:
                type: number
                description: 'Value of the target object which validation is wrong. Can be of any data type, example here is using type number.'
                example: 12345
              property:
                type: string
                description: Property name of the target object which validation is wrong
                example: fromPrivateKey
              constraints:
                type: object
                additionalProperties: true
                description: 'Object of failed constraints for the target object. Key is the constraint, value is detailed description of the failed constraint.'
                example:
                  isNotEmpty: fromPrivateKey should not be empty
    Error401Invalid:
      properties:
        errorCode:
          example: subscription.invalid
          description: subscription.invalid
          type: string
        message:
          example: 'Unable to find valid subscription for ''${apiKey}'''
          description: 'Unable to find valid subscription for ''${apiKey}'''
          type: string
        statusCode:
          example: 401
          description: '401'
          type: number
      required:
        - errorCode
        - message
        - statusCode
      type: object
    Error401NotActive:
      properties:
        errorCode:
          example: subscription.not.active
          description: subscription.not.active
          type: string
        message:
          example: Subscription not active anymore.
          description: Subscription not active anymore.
          type: string
        statusCode:
          example: 401
          description: '401'
          type: number
      required:
        - errorCode
        - message
        - statusCode
      type: object
    Error403BtcBlockchain:
      properties:
        errorCode:
          description: blockchain.error.code
          example: blockchain.error.code
          type: string
        message:
          description: '${error.message} Code: ${error.code}'
          example: '${error.message} Code: ${error.code}'
          type: string
        statusCode:
          description: '403'
          example: 403
          type: number
      required:
        - errorCode
        - message
        - statusCode
      type: object
    Error403AccountIncompatibleXpubBtc:
      properties:
        errorCode:
          description: Address.generation.failed.wrong.xpub
          example: address.generation.failed.wrong.xpub
          type: string
        message:
          description: 'Unable to generate address, wrong xpub and account type.'
          example: 'Unable to generate address, wrong xpub and account type.'
          type: string
        statusCode:
          description: '403'
          example: 403
          type: number
      required:
        - errorCode
        - message
        - statusCode
      type: object
    Error403AccountAddressGeneral:
      properties:
        errorCode:
          description: Address.generation.failed
          example: address.generation.failed
          type: string
        message:
          description: Unable to generate address.
          example: Unable to generate address.
          type: string
        statusCode:
          description: '403'
          example: 403
          type: number
      required:
        - errorCode
        - message
        - statusCode
      type: object
    Error403BlockNotExists:
      properties:
        errorCode:
          description: block.hash.not.exists
          example: block.hash.not.exists
          type: string
        message:
          description: No such block.
          example: No such block.
          type: string
        statusCode:
          description: '403'
          example: 403
          type: number
      required:
        - errorCode
        - message
        - statusCode
      type: object
    Error403Broadcast:
      properties:
        errorCode:
          description: blockchain.broadcast.error
          example: blockchain.broadcast.error
          type: string
        message:
          description: 'Unable to broadcast transaction, wrong input data.'
          example: 'Unable to broadcast transaction, wrong input data.'
          type: string
        statusCode:
          description: '403'
          example: 403
          type: number
      required:
        - errorCode
        - message
        - statusCode
      type: object
    Error403BlockchainPrivateFailed:
      properties:
        errorCode:
          description: key.generation.failed.wrong.mnemonic
          example: key.generation.failed.wrong.mnemonic
          type: string
        message:
          description: 'Unable to generate address, wrong mnemonic and index.'
          example: 'Unable to generate address, wrong mnemonic and index.'
          type: string
        statusCode:
          description: '403'
          example: 403
          type: number
      required:
        - errorCode
        - message
        - statusCode
      type: object
    Error403BtcTxFailed:
      properties:
        errorCode:
          description: transaction.failed
          example: transaction.failed
          type: string
        message:
          description: No spendable inputs.
          example: No spendable inputs.
          type: string
        statusCode:
          description: '403'
          example: 403
          type: number
      required:
        - errorCode
        - message
        - statusCode
      type: object
    Error403BtcTx:
      properties:
        errorCode:
          description: transaction.invalid.body
          example: transaction.invalid.body
          type: string
        message:
          description: 'Either UTXO, or addresses must be present.'
          example: 'Either UTXO, or addresses must be present.'
          type: string
        statusCode:
          description: '403'
          example: 403
          type: number
      required:
        - errorCode
        - message
        - statusCode
      type: object
    Error403TxNotFound:
      properties:
        errorCode:
          description: tx.missing
          example: tx.missing
          type: string
        message:
          description: No such tx.
          example: No such tx.
          type: string
        statusCode:
          description: '403'
          example: 403
          type: number
      required:
        - errorCode
        - message
        - statusCode
      type: object
    Error403BtcUTXO:
      properties:
        errorCode:
          description: tx.hash.index.spent
          example: tx.hash.index.spent
          type: string
        message:
          description: No such UTXO for transaction and index.
          example: No such UTXO for transaction and index.
          type: string
        statusCode:
          description: '403'
          example: 403
          type: number
      required:
        - errorCode
        - message
        - statusCode
      type: object
    Error500:
      properties:
        message:
          example: Internal server error
          description: Internal server error
          type: string
        statusCode:
          example: 500
          description: '500'
          type: number
        errorCode:
          example: internal.error
          description: Internal server error
          type: string
      required:
        - statusCode
        - message
      type: object
  securitySchemes:
    X-Api-Key:
      description: |
        To maintain the highest security level, Tatum requires X-API-Key HTTP header.
        This X-API-Key represents identification of the plan and can be used by 1 developer or per environment.
        Each X-API-Key is bound to the test or production blockchains.

        Connecting without an X-API-Key results in the creation of an API Key tied to your IP Address.
        This API Key is limited to 5req/s and 10M credits, these limits are renewed the 1st day of each month and are applicable to both testnet and mainnet.
        To differentiate between testnet and mainnet, please supply a ?type=testnet|mainnet query parameter with your calls, otherwise the api key will default to mainnet.
        You do not need to supply an API key in the X-API-Key header.
      in: header
      name: x-api-key
      type: apiKey
